{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "useTabs": true,
  "tabWidth": 2,
  "endOfLine": "lf", 
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true
  }
  